@charset "utf-8";

$primary: #A5BC51;
$title-color: $primary;
$text-strong: $primary;
$dark: rgb(248, 246, 246);
$input-border-color: $primary;
$input-focus-border-color: $primary;
$input-focus-shadow-color: $primary;
$link: $primary;
$link-hover: $primary;

$input-hover-color: $primary;
$input-hover-border-color: $primary;
$family-monospace: "Source Code Pro";
$family-sans-serif: "Ubuntu";
@import 'bulma/bulma.sass';

@font-face {
  font-family: "Ubuntu";
  src: url("css/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("css/SourceCodePro-Light.ttf");
}

.bulma-center-mixin {
  @include center(64,64);
}