@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.downarea, .downarea * {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
}

.downarea::-webkit-scrollbar , .downarea *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.downarea::-webkit-scrollbar-thumb , .downarea *::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #a1a1a1;
}

.downarea::-webkit-scrollbar-thumb:hover , .downarea *::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}

.downarea {
    background: #dbdbdb;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: auto;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content !important;
    min-height: 120px !important;
    position: relative;
    overflow: hidden;
}

.downarea.focused {
    border-color: #bababa;
}

.downarea .resizer {
    width: 10px;
    height: 10px;
    border: 5px solid #909090;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-right-radius: 3px;
    position: absolute;
    bottom: 3px;
    right: 2px;
    z-index: 1;
}

.downarea .resizer.vertical {
    cursor: ns-resize;
}

.downarea .resizer.horizontal {
    cursor: ew-resize;
}

.downarea .resizer.both {
    cursor: nw-resize;
}

.downarea .downarea-wrapper {
    width: 100%;
    height: 100%;
}

.downarea .downarea-toolbar {
    background: #e8e8e8;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    min-width: max-content !important;
}

.downarea.focused .downarea-toolbar {
    border-bottom-color: #bababa;
}

.downarea-toolbar .downarea-toolbar-tool {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    margin-right: 5px;
    user-select: none;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #2f2f2f;
}

.downarea-toolbar .downarea-toolbar-tool svg {
    width: 17px;
    opacity: 0.8;
}

.downarea-toolbar .downarea-toolbar-tool:last-child {
    margin-right: 0;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown {
    position: absolute;
    min-width: max-content;
    max-height: 130px;
    top: calc(100% + 2px);
    left: 0;
    z-index: 2;
    border: 1px solid #cccccc;
    border-radius: 3px;
    overflow: auto;
    visibility: hidden;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown.active {
    visibility: visible;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown ul {
    list-style-type: none;
    display: block;
    background: #fafafa;
    cursor: default;
    padding: 3px 0;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown ul li {
    font-size: 15px;
    padding: 5px 8px;
    margin-bottom: 3px;
    cursor: pointer;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown ul li:last-child {
    margin-bottom: 0;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown ul li:hover {
    background: #dcdcdc;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown#heading-dropdown ul li:nth-child(1) {
    font-size: 22px;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown#heading-dropdown ul li:nth-child(2) {
    font-size: 20px;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown#heading-dropdown ul li:nth-child(3) {
    font-size: 18px;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown#heading-dropdown ul li:nth-child(4) {
    font-size: 16px;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown#heading-dropdown ul li:nth-child(5) {
    font-size: 14px;
}

.downarea-toolbar .downarea-toolbar-tool .downarea-tool-dropdown#heading-dropdown ul li:nth-child(6) {
    font-size: 12px;
}

.downarea .downarea-textarea {
    width: 100%;
    height: max-content;
    background: #fff;
    position: relative;
    margin-bottom: 20px;
}

.downarea .downarea-textarea textarea {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    padding: 8px;
    margin-bottom: 20px;
    resize: none;
    font-size: 14px;
    font-weight: 500;
}

.downarea .downarea-bottom {
    width: 100%;
    height: 19px;
    background: #e8e8e8;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.downarea.focused .downarea-bottom {
    border-top-color: #bababa;
}
