body {
    width: 500px;
}
.hidden {
    display: none;
}
button.button-post {
    background-image: url('img/lemmy.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 4.75rem;
}

#serverLogo {
    width: 42px;
    height: auto;
    display: inline;
    margin-left: 1rem;
    margin-top: 1rem;
}
textarea {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#buttonPreview {
    border-top: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.is-outlined:hover {
    color: #363636 !important;
}
.is-outlined:focus {
    color: #363636 !important;
}

.image-inline {
    display: inline;
}
.downarea-wrapper {
    border-color: #A5BC51 !important;
}
.downarea {
    border-color: #A5BC51 !important;
    height: 200px !important;
}
.downarea-toolbar {
    border: none !important;
    color: white !important;
    background-color: #363636 !important;
}
.downarea-bottom {
    background-color: #363636 !important;
    border: none !important;
}
.downarea-toolbar-tool {
    background-color: #A5BC51 !important;
    border: none !important;
}
.downarea-textarea {
    background-color: #363636 !important;
    border: #A5BC51 1px !important;
}
.heading-list {
    background-color: #363636 !important;
    color: white !important;
}
#modal-close {
    position: absolute;
    background: none;
    border: none;
    top: 25px;
    left: 425px;
    color: #A5BC51;
    font-size: 25px;
}