@font-face {
    font-family: "Source Code Pro";
    src: url("css/SourceCodePro-Light.ttf");
}

body {
    width: 500px;
}
.hidden {
    display: none;
}
button.button-post {
    background-image: url('img/lemmy.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 4.75rem;
}

#serverLogo {
    width: 42px;
    height: auto;
    display: inline;
    margin-left: 1rem;
    margin-top: 1rem;
}

.image-inline {
    display: inline;
}
.downarea-wrapper {
    border-color: #A5BC51 !important;
}
.downarea {
    border-color: #A5BC51 !important;
    height: 200px !important;
}
.downarea-toolbar {
    border: none !important;
    color: white !important;
    background-color: #363636 !important;
}
.downarea-bottom {
    background-color: #363636 !important;
    border: none !important;
}
.downarea-toolbar-tool {
    background-color: #A5BC51 !important;
    border: none !important;
}
.downarea-textarea {
    background-color: #363636 !important;
    border: #A5BC51 1px !important;
}
.heading-list {
    background-color: #363636 !important;
    color: white !important;
}
a#buttonPreview {
    border-top: none !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}