body {
    width: 500px;
}
.hidden {
    display: none;
}
button.button-post {
    background-image: url('img/lemmy.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 4.75rem;
}

#serverLogo {
    width: 42px;
    height: auto;
    display: inline;
    margin-left: 1rem;
    margin-top: 1rem;
}

.image-inline {
    display: inline;
}